{% extends "base.html" %}

{% block content %}
<article>
    <div id="metadata">
        {% if page.extra.header_image_alt %}
        <img class="header-image" alt="{{page.extra.header_image_alt}}" src="{{page.extra.header_image}}">
        {% endif %}
        <h1 class="title">{{ page.title }}</h1>
        {% if page.extra.date_built %}
        <p>
            Created
            {% for format in ["gregorian"]%}
            <time
                    data-{{ format }}
                    itemprop="dateCreated"
                    datetime="{{ page.extra.date_built }}"
            >
                {{ page.extra.date_built }}
            </time>
            ({{ format}})
            {%endfor%}
        </p>
        {% endif %}
    </div>
</article>
{% endblock content %}