{% extends "base.html" %}

{% block content %}
<div>
    <h3 class="title">Hi, I'm Rodrigue Kayembe!</h3>
    <P>This is my little space on the internet with some stuff I've either made, written or found interesting.</P>
    <p> I work as software engineer building Financial software at <a href='https://www.alfasystems.com'>Alfa</a> remotely. </p>
    <p>When I'm not doing that I enjoy travelling, photography and dabbling in making more fun stuff.</p>

    <br>
    <p>
        You can find me in the following places:
        <a href="https://github.com/rodriguekayembe"> Github</a> |
        <a href="mailto:rodriguekayembe@gmail.com"> Email</a><br></br>
        Please enjoy and don't hesitate to get in touch!
    </p>
</div>
{% endblock content %}