{% extends "base.html" %}

{% block content %}
<div>
    <p class="title">Hi, I'm Rodrigue!</p>
    <p>I'm a software engineer based in London. I'm currently building financial software at <a href='https://www.alfasystems.com'>Alfa</a>.</p>
    <P>This is my little space on the internet with some stuff I've either written, made or found interesting.</P>

    <p>
        You can find me in the following places:
        <a href="https://github.com/rodriguekayembe"> GitHub</a> |
        <a href="mailto:rodriguekayembe@gmail.com"> Email</a><br></br>
        Please enjoy and don't hesitate to get in touch!
    </p>
</div>
{% endblock content %}